<div class="container">
<center>
<img src="img/agri.png" class="img-responsive" alt="Cinque Terre">
<center>
<br><br><br>
<div>
  <form>
    <div class="form-group">
    	<label for="username" class="uname" > Your username </label>
        <input class="form-control" id="username" name="username" ng-model="username" required="required" type="text" placeholder="myusername"/>
    </div>
    <div class="form-group">
    	<label for="password" class="youpasswd"> Your password </label>
    	<input class="form-control" id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
    </div>
  </form>
      <button class="btn btn-default" ng-click="signIn()" id="signIn">Sign in </button>
    	<button class="btn btn-default" ng-click="newAccount()" id="newAccount">Create an account</button>
</div>
</div
