<div class="container">
<div class="chatHeader">
  <div class="col-xs-1">
    <!-- Use any element to open the sidenav, for now a button, but could maybe be done by dragging -->
    <button class="btn btn-default" ng-click="openNav()">
      <span class="glyphicon glyphicon-th-list"></span>
    </button>
  </div>
  <div class="col-xs-8">
    <p>{{MenuTitle}}</p>	<!-- put in the current coursecode -->
  </div>
</div>

<div id="mySidenav" class="sidenav"> <!-- The side menu for the different chats in this course. -->

	<p> Menu <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a></p>

  	<ul class="nav nav-pills nav-stacked">
	  	<li>
        <a href="{{url}}search">
          <span class="glyphicon glyphicon-tree-conifer"></span>
          Ads
        </a>
	  	</li>
      <li>
        <a  href="{{url}}favorites">
          <span class="glyphicon glyphicon-heart"></span>
          Favorites
        </a>
      </li>
      <li>
        <a  href="{{url}}members">
          <span class="glyphicon glyphicon-plus"></span>
          New Ad
        </a>
      </li>
      <li>
        <a  href="{{url}}privateMessages">
          <span class="glyphicon glyphicon-envelope"></span>
          Messages
        </a>
      </li>
      <li>
        <a href="{{url}}profile/{{user}}">
          <span class="glyphicon glyphicon-user"></span>
          Profile
        </a>
      </li>
  	</ul>

<br>
<br>

<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="{{url}}">
      <span class="	glyphicon glyphicon-log-out"></span>
      Sign Out
    </a>
  </li>
</ul>

</div>
</div>

<!--<div>
  <div class="glyphiconRowBottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">

          <a type="button" class="btn btn-default" href="{{url}}search">
            <span class="glyphicon glyphicon-tree-conifer"></span>
            <br>Ads
          </a>


          <a type="button" class="btn btn-default btn-block" href="{{url}}favorites">
            <span class="glyphicon glyphicon-heart"></span>
            <br>Favorites
          </a>


          <a type="button" class="btn btn-default btn-block" href="{{url}}members">
            <span class="glyphicon glyphicon-plus"></span>
            <br>New Ad
          </a>


          <a type="button" class="btn btn-default btn-block" href="{{url}}privateMessages">
            <span class="glyphicon glyphicon-envelope"></span>
          <br>  Messages
          </a>


          <a type="button" class="btn btn-default btn-block" href="{{url}}profile/{{user}}">
            <span class="glyphicon glyphicon-user"></span>
            <br>Profile
          </a>

    </div>
  </div>
</div>-->
</div>
